
  body {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica sans-serif;
    line-height: 1.25;
    margin: 0 auto;
    padding: 2em;
    max-width: 48em;
    color: #304650;
  }
  a { color: #0076df; }
  a:hover { color: #0066cf; }
  h1, h2, h3, h4, h5, h6 { font-weight: 600; margin-top: 1em; margin-bottom: 0; }
  p { font-size: 1.25rem; margin-top: 0; margin-bottom: 2em; }
  ol {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, .h1 { font-size: 2rem; }
  @media screen and (min-width: 48em) {
    h1, .h1 { font-size: 3rem; }
  }
  .button {
    text-decoration: none;
    line-height: 2.5rem;
    display: inline-block;
    padding: 0 1rem;
  }
  .button-box {
    color: #405660;
    box-shadow: inset 0 0 0 2px #405660;
    border-radius: .25rem;
  }
  .button-box:hover {
    color: #fff;
    background-color: #405660;
  }
  svg {
    position: relative;
    top: .125em;
    width: 1em;
    height: 1em;
    fill: currentcolor;
  }
